// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$slime-green: #9bc655;
$page-background: #D9D9D9;
$card-background: #b9b9b9;
// ^ Will also double as the navbar-background for now
$button-background: #757575;

$approved-background: rgba(96, 153, 100, 0.1);
$pending-background: rgba(204, 204, 102, 0.1);
$completed-background: rgba(185, 185, 185, 0.1);
