// Define variables for your color scheme

$slime-green: #9bc655;
$page-background: #D9D9D9;
$card-background: #b9b9b9;
$denial-red: #c75656;
$button-background: #757575;

$approved-background: rgba(96, 153, 100, 0.1);
$pending-background: rgba(204, 204, 102, 0.1);
$completed-background: rgba(185, 185, 185, 0.1);
