body {
  font-family: $regular-font;
}

.container {
  margin: 0 auto;
}

.left {
  text-align: left;
}

h2 {
  font-family: $title-font;
  font-size: 40px;
  margin-top: 40px;
}

.email-input {
  text-align: left;
  width: 30%;
  margin: 0 auto;
}

.password-input {
  text-align: left;
  width: 30%;
  margin: 0 auto;
}

.remember-me {
  max-width: 122px;
  margin: 0 auto;
  margin-top: 12px;
}
