.house-card{
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 200px;
  width: 200px;
  padding: 50px;
  margin: 20px;
}

.card-content{
  justify-content: flex-end;
  height: 100px;
  width: 100px;
}

.bookng-form{
  margin: 100px;
}
