.house-pic-card {
  overflow: hidden;
  height: 150px;
  width: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-content{
  justify-content: flex-end;
  height: 100px;
  width: 100px;
}

.bookng-form{
  margin: 100px;
}
