<h1>Houses#index</h1>
<p>Find me in app/views/houses/index.html.erb</p>


<div class="container">
<div class="row">
<% @houses.each do |house| %>
<div class="class col-6 col-lg-4">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-large" />
  <div class="card-product-infos">
      <h2> <%= house.name %> </h2>
      <p><%= house.address %> <strong><%= house.haunted %></strong></p>
      <%= link_to "see house's details", house_path(house), class: "btn btn-primary" %>
    </div>
  </div>
  </div>
<% end %>
</div>
</div>
