<%= render :partial => 'shared/navbar' %>

<!-- the list of houses -->
<div class="container">
  <div class="row">
    <div class="search-container left">
      <%= form_tag houses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query], placeholder: "Find a house", class: "search-field" %>
        <%= submit_tag "Search", class: "btn my-2 my-sm-0" %>
      <% end %>
    </div>
    <% @houses.each do |house| %>
      <div class="class col-lg-4 col-sm-6 mt-3 mb-4">
        <div class="card-product">
        <%= link_to house_path(house) do %>
          <% if house.photo.key.nil? %>
            <img src="https://picsum.photos/400/300" alt="totally a house">
          <% else %>
            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-large" /> %>
            <%= cl_image_tag house.photo.key, height: 300, width: 400, crop: :fill, class: 'img-thumbnail' %>
          <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2>
              <%= truncate(house.name, length: 21) %>
            </h2>
            <div class="house-card-info">
            <div class="col-3"></div>
            <div class="house-address col-6">
              <%= truncate(house.address, length: 20) %>
            </div>
            <div class="col-3">
                ¥<%= house.price %>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => 'shared/footer' %>
