<!-- This method cannot be tested until a new booking can be made-->
<!-- @user.booking_id retrurns an empty array which i assume will hold the new bookings-->
<%  @bookings.each do |booking| %>
  <ul>
    <li>
      <%= booking.house.name %>
    </li>
    <li>
      <%= booking.status %>
    </li>
    <li>
      <%= booking.start_time.strftime('%m/%d/%Y') %>
    </li>
    <li>
      <%= booking.end_time.strftime('%m/%d/%Y') %>
    </li>
  </ul>
<% end %>
