<div class="dropdown">
  <h4>
    ▼
  </h4>
  <div class="dropdown-content">
    <%= link_to 'Add A House', new_house_path %>
    <%= link_to 'My Bookings', bookings_path %>
    <%= link_to 'My Lender Bookings', lender_bookings_path %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  </div>
</div>
