<footer>
  <div class="footer-links">
    <a href="https://youtu.be/jib4kj03l8w?t=28"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Property of Spoopy Inc.©
  </div>
</div>
</footer>
