<%= render :partial => 'shared/navbar' %>

<!-- body start -->
<div class="container">
  <h1>abandonya</h1>
  <p>Because who wants to sleep soundly on vacation?</p>

<div class="row">
  <!-- carousel start -->
<div class="col-lg-9 col-sm-12">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('kinugawaHouse.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
      <div class="carousel-item">
        <%= image_tag('hotel16.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
      <div class="carousel-item">
        <%= image_tag('rustyStairs.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
      <div class="carousel-item">
        <%= image_tag('noge.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
      <div class="carousel-item">
        <%= image_tag('octodadDesat.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
      <div class="carousel-item">
        <%= image_tag('stiltsWeirdCurve.jpg', class: "w-100 img-thumbnail", alt: "a spooky house") %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <!-- carousel end -->
  <div class="col-lg-3 col-sm-12 mb-4">
    <h4>Browse through our numerous welcoming properties to find the one that speaks to you. <em>Literally</em>.</h4>
    <%= link_to 'See More Houses', houses_path, class: 'browse btn my-2 my-sm-0' %>
  </div>
</div>
</div>
<!-- body end -->
<%= render :partial => 'shared/footer' %>
