<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#"><img src="http://coffeeguymike.com/abandonya/spoopyGhostGryRoof-01.png" alt="Spoopy Logo" class="spoopy-logo"></a>
  <form class="form-inline">
    <button class="btn my-2 my-sm-0" type="submit">Sign Up</button>
    <button class="btn my-2 my-sm-0" type="submit">Log In</button>
  </form>
</nav>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- Hey this is a comment! -->
