footer {
  margin-top: 10px;
  text-align: center;
  padding: 8px;
  background-color: $completed-background;
  width: 100%;
  display: block;
}

footer a {
  color: black;
}

footer i:hover {
  color: black;
  opacity: 60%;
}
