// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";


a.add-a-house {
  position: relative;
  top: 20px;
  left: 20px;
}

h2 {
margin-top: 10px !important;
}
