.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapbox {
  margin-top: 16px;
}

// this doesn't seem to actually do anything:
// .container-mapbox {
//     position: relative;
//     border: 3px;
// }
