.navbar {
  justify-content: space-between;
  background: $card-background;
}

.btn {
  flex-grow: 0;
  background-color: $button-background;
  border-radius: 4px;
  box-shadow: 1px 1px 10px grey;
}

img.spoopy-logo {
  width: 40px;
}
