.my-bookings {
  margin-top: 40px;
  min-height: 80vh;
}

.remove-margintop {
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.mybooking-status {
  text-align: left;
  margin: 5px;
}

@media (max-width: 1050px) {

}
